body {
	background-image: url(images/500_F_102480378_gULCitFKqZmpiUmnVdMfMTd2Ij1Z8A7f.jpg);
}
h1 {
	text-align: center;
	background-color: #f5940c;
}

b{	color: #f1fc21; 
}
h3 {
	padding-bottom: 10px;
}
.col-lg-4 {
	text-align: center;
	background-color: #c2f711;
}
.container_goods {
	border: 1px solid #8c8efa;
	height: 457px;
	margin-bottom: 25px;
	background-color: #fbfc8b;
}
.container_goods img {
	width: 355px;
	height: 350px;
	object-fit: cover;
}